
.cus-home-div{
    display: relative;
}
.cus-userbar-show{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .cus-username{
    text-align: center;
  }
   
  .cus-user-avator-img{
    width: 80px;
    height: 80px;
    margin-right: 30px;
  }
  
   
  .cus-btn-history{
    background-color: #AAC4F9;
    color: black;
    height: 60px;
    width: 320px;
    border-radius: 20px;
    font-size: x-large;
    border: transparent;
  }
  .cus-btn-div{
   justify-content: center;
    display: flex;
    height: 50px;
    margin-top: 80px;
  }
  .cus-bt-container{
    display:flex;
    align-items:baseline;
    background-color: #DBEAFE ;
    flex-direction: column;
    flex: 0 0 auto;
    width: 99%;
  }
  .cal{
    margin:30px;
    max-width: 90%;
    height: 55%;
    border: 3px solid darkcyan;
  }
   
  .cus-scroll-container{
    width: 100%;
    overflow: scroll;
    border: 1px solid black;
  }
   
  .cus-scroll-fun{
   display: flex;
   flex-wrap: nowrap;
   width: 100%;
  }
   
  .cus-link{
    text-decoration: underline;
    font-size: x-large;
  }

  .cus-order-p,.cus-track-p{
    font-size: large;
  }