.cibp-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
}

.cibp-btn{
    width: 340px;
    height: 48px;
    border-radius: 10px;  
    background-color: #AAC4F9;
    border: none;
    margin: 20px;

}
.cibp-items{
    width: 90%;
    background-color: #AAC4F9;
    padding: 30px;
    border-radius: 30px;
}
/* .cpc-img{
    width: 300px;
} */