.pco-img{
    width: 300px;
    border-radius: 50%;
}
.pco-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
}

.pco-btn{
    width: 340px;
    height: 48px;
    border-radius: 10px;
    background-color: #AAC4F9;
    border: none;
    margin: 20px;

}
/* .sa-link{
    all: unset;
    font-size: 16px;
    color: #313131;
} */