.sa-assign-img{
    width: 300px;
    border-radius: 50%;
}
.sa-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
}
.sa-prompt{ 
    background-color: #AAC4F9;
    width: 90%;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    font-weight: 500;
}
.sa-btn{
    width: 340px;
    height: 48px;
    border-radius: 10px;
    background-color: #AAC4F9;
    border: none;
    margin: 20px;

}
.sa-link{
    all: unset;
    font-size: 16px;
    color: #313131;
}